{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Modification du mot de passe {% endblock %}

{% block indication %} Modification du mot de passe {% endblock indication %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    {% comment %} <a href="#" class="btn btn-outline-primary btn-rounded mb-2">+ Ajouter</a> {% endcomment %}
    {% comment %} <div class="btn-group float-right" role="group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Actions sur les utilisateurs</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'list' %}"><i class="las la-list"> Afficher</i></a>
            <a class="dropdown-item" href="{% url 'addUser' %}"><i class="las la-user-plus"> Ajouter</i></a>
        </div>
    </div> {% endcomment %}
    {% comment %} <div class="mt-5 row"> {% endcomment %}
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h4 class="fs-20 font-w600 mb-0">Nouveau mot de passe</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'password' %}" method="POST" id="update">
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                        {{ form }}
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success"  id="success"  style="display: none">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Success!</strong> <span id="successtext"></span>
                            </div>
                            <div class="alert alert-danger"  id="danger" style="display: none;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>OUPS!!</strong> <span id="dangertext"></span>
                            </div>
                        </div>
                        <p>
                            <div class="col-md-12 text-left">
                                {% comment %} <button class="btn btn-primary mr-1" type="submit">Enregistrer</button> {% endcomment %}
                                {% comment %} <button type="submit" class="btn btn-primary">Enregistrer</button>
                                <button class="btn btn-light" style="float: right;" type="reset">Annuler</button> {% endcomment %}
                                <button type="submit" class="btn btn-primary"><i class="las la-key"></i>
                                    Confirmer
                                </button>
                            </div>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% comment %} </div> {% endcomment %}
</div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var frmPW = $('#update');
    frmPW.submit(function() {
        $.ajax({
            type: frmPW.attr('method'),
            url: frmPW.attr('action'),
            data: frmPW.serialize(),
            success: function(resp) {
                $("#respp").html('<strong><p class="text-info">' + resp + '</p></strong>').show().fadeOut(3000);
            },
            error: function() {
                $("#respp").html('<strong><p class="text-danger">Error!</p></strong>').show().fadeOut(3000);
            }
        });
        return false;
    });
</script>
{% endblock javascripts %}