{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Partie annexe</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">DIagnostiques</a></li>
                    <li><a href="#">Traitements</a></li>
                    <li><a href="#">Maladies</a></li>
                    <li><a href="#">Pathologies</a></li>
                    <li><a href="#">Allergies</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Gestion patients</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'patient' %}">Patients</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Accordion</a></li>
                    <li><a href="#">Alert</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>